{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="{% static 'script/base.js' %}"></script>
	</head>

	<body>

		{% if messages %}
		<div id="notice_wrapper">
			{% for message in messages %}
			<p class="notice">{{ message }}</p>
			{% endfor %}
		</div>
		{% endif %}

		{% block content %}
		{% endblock content %}

	</body>
</html>
