.zero_mp {
	margin: 0;
	padding: 0;
}

html {
	.zero_mp;
	height: 100%;
	width: 100%;
}

body {
	.zero_mp;
	height: 100%;
	width: 100%;
}

.one_full {
	.zero_mp;
	width: 100%;
	height: 100%;
}

.two_horiz {
	.zero_mp;
	width: 100%;
	height: 50%;
}