.fiber_pattern {
  background-image: url('/static/images/fiber_pattern.png');
}
.zero_mp {
  margin: 0;
  padding: 0;
}
.inner_shadow {
  -webkit-box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
}
.border {
  border-bottom: 1px solid #7CCBF2;
}
#float_left {
  width: 25%;
  height: 96%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#float_right {
  width: 25%;
  float: left;
  height: 96%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#float_middle {
  width: 50%;
  float: left;
  height: 96%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.clear_div {
  clear: both;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.one_full {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.title {
  display: block;
  background-color: gray;
  height: 23px;
  margin: 0;
  padding: 0;
}
.title p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.two_horiz {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
}
#notice_wrapper {
  width: 100%;
  height: 100px;
  background-image: url('/static/images/fiber_pattern.png');
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 22px 38px -10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #7CCBF2;
}
.notice {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-style: italic;
  font-size: 35px;
  text-align: center;
  color: white;
}
